---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting"
;



html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  height: 1px;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 1366px;
  min-height: 100%;
}

.header {
  background: #4D4D4D;
  height: 50px;
  &__inner {
    width: 1346px;
    padding: 0 10px;
    margin: 0 auto;
  }
  &__logo {
    margin: 10px 0 0;
    float: left;
  }
  &__right-link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin: 15px 0 0;
    float: right;
  }
}

.content {
  position: relative;
  flex: 1;
  margin-top: 50px;
  background: #ededed;
  display: flex;
  &__inner {
    width: 1366px;
    display: flex;
  }
}
.menu,
.center-content,
.plugins {
  min-height: 100%;
}
.menu {
  width: 300px;
  margin-right: 70px;
  &__list {
    margin: 0;
    padding: 0 30px;
  }
  &__list-item {
    list-style: none;
    border-bottom: 4px solid #fff;
  }
  &__list-item-link {
    padding: 0 20px;
    display: block;
    height: 54px;
    line-height: 54px;
    text-decoration: none;
    color: #666;
    &:visited {
      color: #666;
    }
    &--active {
      color: #00adee;
      &:visited {
        color: #00adee;
      }
    }
    &:hover {
      color: lighten(#666, 25%);
    }
  }
}

.center-content {
  width: 566px;
  margin-right: 100px;
  float: left;
  &__text {
    margin: 25px 0 40px;
    p {
      line-height: 18px;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  &__title {
    font-weight: normal;
    font-size: 24px;
    margin: 0 0 20px
  }
}

.plugins {
  border-left: 4px solid #fff;
  width: 300px;
  float: right;
  &__list {
    margin: 0;
    padding: 0 20px 0 30px;
  }
  &__list-item {
    list-style: none;
    border-bottom: 4px solid #fff;
    height: 50px;
    line-height: 50px;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__list-item-name {
    font-size: 14px;
    font-weight: bold;
  }
  &__list-item-icon {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    background: url({{ site.baseurl }}'/assets/icon_plugin.png') no-repeat 0 0;
    width: 20px;
    height: 20px;
    opacity: .6;
  }

  &__list-item-details {
    margin-top: 17px;
    float: right;
    background: url({{ site.baseurl }}'/assets/icon_exit-system.png') no-repeat 0 0;
    width: 20px;
    height: 20px;
    &:hover {
      opacity: .6;
    }
  }
}


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}