<div class="menu">
    <ul class="menu__list">
        <li class="menu__list-item">
            <a class="menu__list-item-link {% if page.url == '/index.html' %} menu__list-item-link--active {% endif %}" href="index.html">
                Instruction
            </a>
        </li>
        <li class="menu__list-item">
            <a class="menu__list-item-link {% if page.url == '/quick-start.html' %} menu__list-item-link--active {% endif %}" href="quick-start.html">
                Quick Start
            </a>
        </li>
        <li class="menu__list-item">
            <a class="menu__list-item-link {% if page.url == '/recommended-tools.html' %} menu__list-item-link--active {% endif %}" href="recommended-tools.html">
                Recommended Tools
            </a>
        </li>
    </ul>
</div>