<div class="menu">
    <ul class="menu__list">
        <li class="menu__list-item">
            <a class="menu__list-item-link {% if page.url == '/index.html' %} menu__list-item-link--active {% endif %}" href="index.html">
                Introduction
            </a>
        </li>
        <li class="menu__list-item">
            <a class="menu__list-item-link {% if page.url == '/quick-start.html' %} menu__list-item-link--active {% endif %}" href="quick-start.html">
                Quick Start
            </a>
        </li>
        <li class="menu__list-item">
            <a class="menu__list-item-link {% if page.url == '/build-deploy.html' %} menu__list-item-link--active {% endif %}" href="build-deploy.html">
                Build & Deploy
            </a>
        </li>
        <li class="menu__list-item">
            <a class="menu__list-item-link {% if page.url == '/getting-involved.html' %} menu__list-item-link--active {% endif %}" href="getting-involved.html">
                Getting involved
            </a>
        </li>
        <li class="menu__list-item">
            <a class="menu__list-item-link {% if page.url == '/more-information.html' %} menu__list-item-link--active {% endif %}" href="more-information.html">
                More information
            </a>
        </li>
    </ul>
</div>