<div class="plugins">
  <ul class="plugins__list">
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-Azure</span>
      <a href="https://github.com/electric-cloud/EC-Azure" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-Chef</span>
      <a href="https://github.com/electric-cloud/EC-Chef" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-EC2</span>
      <a href="https://github.com/electric-cloud/EC-EC2" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-ESX</span>
      <a href="https://github.com/electric-cloud/EC-ESX" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-Gerrit</span>
      <a href="https://github.com/electric-cloud/EC-Gerrit" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-IIS</span>
      <a href="https://github.com/electric-cloud/EC-IIS" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-IIS7</span>
      <a href="https://github.com/electric-cloud/EC-IIS7" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-OpenStack</span>
      <a href="https://github.com/electric-cloud/EC-OpenStack" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-Puppet</span>
      <a href="https://github.com/electric-cloud/EC-Puppet" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-S3</span>
      <a href="https://github.com/electric-cloud/EC-S3" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-WebLogic</span>
      <a href="https://github.com/electric-cloud/EC-WebLogic" class="plugins__list-item-details"></a>
    </li>
    <li class="plugins__list-item">
      <span class="plugins__list-item-icon"></span>
      <span class="plugins__list-item-name">EC-WebSphere</span>
      <a href="https://github.com/electric-cloud/EC-WebSphere" class="plugins__list-item-details"></a>
    </li>
  </ul>
</div>